{% extends './layout.html' %}

{% block title %} Login {% endblock %}

{% block body %}
    
<br>
  <div class="form-control" style="justify-self: center">
    <div class="card-body">
      <h3 class="card-title">Register</h3>

      <form method="post" action>
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
         <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
          <label for="floatingPassword">Password</label>
        </div>
        <br>
        <button type="button" class="btn btn-primary btn-lg">Login</button>
        <a href="/register" class="btn btn-lg btn-outline-secondary mb" >Register</a>
      </form>
    </div>
  </div>

{% endblock %}