{% extends './layout-register-login.html' %}

{% block title %} Register {% endblock %}

{% block body %}

<br>
  <div class="form-control">
    <div class="card-body">
      <h3 class="card-title">Register</h3>

      <form action="{{ url_for('register') }}" method="POST">
        <div class="form-floating mb-2">
          <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating mb-2">
          <input type="user" class="form-control" id="user" name="user" placeholder="User">
          <label for="floatingInput">User name</label>
        </div>

        <div class="form-floating mb-2">
          <input type="password" class="form-control" id="pwd" name="pwd" placeholder="Password">
          <label for="floatingPassword">Password</label>
        </div>

        <div class="form-group">
          {% with messages = get_flashed_messages() %}
          {% if messages %}
          {% for message in messages %}
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {% endfor %}
          {% endif %}
          {% endwith %}
      </div>
      <input type="submit" class="btn btn-primary btn-lg" value="Register">
      <a href="/register" class="btn btn-lg btn-outline-secondary mb" >Login</a>
      </form>
    </div>
  </div>

{% endblock %}